.row1 {
	display: flex;
	flex-flow: row;
	margin-top: 10px;
}

.profile {
	padding: 0;
	/* padding-bottom: 6rem; */
	background-color: #24252d;
}
.profile-top {
	position: relative;
	padding-bottom: 3.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.profile-banner {
	width: 100%;
}
.profile-banner img {
	width: 100%;
	object-fit: cover;
}
.profile-pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	margin-top: -105px;
}
.profile-pic img {
	border: 3px solid white;
	border-radius: 50%;
	object-fit: cover;
}
.profile-pic h3 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	text-align: center;
	color: #ffffff;
}
.profile-bottom {
	/* padding: 4rem 6rem; */
	padding-bottom: 30px;
}

.profile-bottom-input {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-account-id {
	background: #1b1a21;
	border-radius: 10px;
	border: none;
	padding: 10px 19px 10px 15px;
	font-family: var(--font-family);
	outline: none;
	color: whitesmoke;
	display: flex;
	margin-right: 1rem;
}

.profile-bottom-input input {
	background: #1b1a21;
	border-radius: 10px;
	border: none;
	padding: 7px 19px 7px 15px;
	font-family: var(--font-family);
	outline: none;
	color: whitesmoke;
	flex: 0.3;
	display: flex;
	margin-right: 1rem;
}
.profile-bottom-input select {
	background: #1b1a21;
	border-radius: 10px;
	border: none;
	padding: 7px 19px 7px 15px;
	font-family: var(--font-family);
	outline: none;
	color: whitesmoke;
	flex: 0.1;
	display: flex;
}

@media screen and (max-width: 1550px) {
	.profile-pic img {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
	.profile-pic {
		margin-top: -105px;
	}
}
@media screen and (max-width: 550px) {
	.profile-pic h3 {
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
	}
	.profile.section__padding {
		padding: 1rem 0px !important;
	}
}
@media screen and (max-width: 500px) {
	.profile-bottom-input {
		display: none;
	}
	.profile-top {
		padding-bottom: 1rem;
	}
}

div {
	font-family: 'Poppins', sans-serif;
}
