h1 {
	font-size: 60px;
	font-weight: 450;
	background-image: linear-gradient(
		to right,
		#ff3bff,
		#ecbfbf,
		#ff3bff,
		#5c24ff,
		#d94fd5
	);
	-webkit-background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-family: monospace;
	padding-top: 100px;
	text-align: center;
}

button {
	border: 5px solid;
	border-image-slice: 1;
	border-width: 2px;

	background: none;
	text-decoration: inherit;
	font-family: system-ui;
	font-size: 1rem;
	padding: 1rem 2rem;

	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

	border-radius: 10px !important;
	color: white;
	margin: auto;

	background-clip: padding-box;
}

.fontLucida {
	font-family: 'Lucida Console', 'Courier New', monospace;
}

.fontLucidaNormal {
	font-family: 'Lucida Console', 'Courier New';
}

.fontArial {
	font-family: 'Trebuchet MS', sans-serif;
}

.container input {
	background: rgb(255, 254, 254);
	border-radius: 10px;
	border: none;
	padding: 12px 19px 12px 15px;
	font-family: var(--font-family);
	outline: none;
	color: dark;
	flex: 0.3;
	display: flex;
	margin-right: 1rem;
	width: 70%;
	margin: auto;
	height: 55px;
	font-size: 16px;
	margin-bottom: -80px;
}

div {
	font-family: 'Poppins', sans-serif;
}
