.fontLucida {
	font-family: 'Lucida Console', 'Courier New', monospace;
}

.fontLucidaNormal {
	font-family: 'Lucida Console', 'Courier New';
}

.fontArial {
	font-family: 'Trebuchet MS', sans-serif;
}
