.bids-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
}
.bids-container-text {
	align-items: flex-start;
	left: 0;
	width: 100%;
}
.bids-container-text h1 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	color: #ffffff;
	margin-bottom: 1rem;
}
.bids-container-card {
	margin: 0 -5px;
	width: 80%;
}
.bids-container-card:after {
	content: '';
	display: table;
	clear: both;
}
.card-column {
	float: left;
	width: 400px;
}
.bids-card {
	background: #2a2d3a;
	border-radius: 20px;
	padding: 11px 12px 19px 11px;
	margin-inline: 10px;
	margin-bottom: 20px;
}
.bids-card img {
	border-radius: 20px;
	width: 100%;
	height: 220px;
	object-fit: cover;
}
.row1 img {
	border-radius: 5px;
	width: 30px;
	height: 30px;
	object-fit: cover;
}
.bids-card-top p {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	margin-top: 15px;
}
.bids-card-bottom {
	display: flex;
	justify-content: space-between;
}
.bids-card-bottom p {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	/* text-align: right; */
	color: #ffffff;
}
.bids-card-bottom p:last-child {
	font-weight: normal;
}
.bids-card-bottom span {
	font-weight: normal;
}
.load-more {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: row;
	width: 85%;
}
.load-more button {
	background: transparent;
	border: 1px solid #eb1484;
	margin: 0 1rem;
	color: #eb1484;
	border-radius: 10px;
	padding: 10px 100px;
	font-family: Poppins;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 100px;
}

@media screen and (max-width: 1440px) {
	.card-column {
		width: 33%;
	}
}

@media screen and (max-width: 1200px) {
	.card-column {
		width: 40.33%;
	}
}

@media screen and (max-width: 900px) {
	.card-column {
		width: 90%;
	}
}
@media screen and (max-width: 550px) {
	.section__padding {
		padding: 2rem 14px !important;
	}
	.bids-card {
		margin-bottom: 10px;
		margin-inline: 5px;
	}
	.bids-card-top p {
		font-size: 12px;
		line-height: 18px;
		margin-top: 5px;
	}
	.bids-card-bottom p {
		font-size: 10px;
		line-height: 15px;
	}
	.bids-container {
		width: 100%;
	}
}
.row1 {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.boxNumPage {
	border-radius: 5px;
	background-color: #2a2d3a;
	height: 30px;
	width: 30px;
	margin: 5px;
}

.textBoxPage {
	font-size: 14px;
	color: azure;
	padding: auto;
	margin-top: 5px;
	margin-left: 10px;
}

div {
	font-family: 'Poppins', sans-serif;
}
